.account {
  display: flex;
  justify-content: center;
}

.equally {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
