<div class="equally"> <br />
  <a href="/" class="brand-logo" id="image-index"><img src="money.jpg" width="200">
  </a>
  <h2 class="main-title">Less stress when <br> sharing expenses <br>
    <span id="gr-word">with anyone.</span>
  </h2>
  <h4 class="main-sub">Split expenses with any group: <br> trips, housemates, friends, and family.
  </h4>
</div>

{{#if userName}}
{{else}}
<div class="signUp">
  <a href="/users/signup" class="btn-pos orange waves-effect waves-light btn-large">Sign up</a>
</div>
{{/if}}

<footer>
  <p class="footer-text"></p>
</footer>
